In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

# Load the data properly
df = pd.read_excel("/content/drive/MyDrive/real_estate.xlsx", skiprows=3)

# Rename columns
df.columns = [
    'Project', 'Stage', 'Category', 'Unit Type', 'Unit Code',
    'Grand Total', 'Total Finishing Price', 'Unit Total Price',
    'Planned Delivery Date', 'Actual Delivery Date', 'Completion Progress',
    'Land Area', 'Built Area', 'Basement Area', 'Uncovered Basement Area',
    'Penthouse Area', 'Semi Covered Roof', 'Roof Area', 'Garden Area',
    'Garage Area', 'Pergola Area', 'Storage Area', 'Extra BuiltUp Area',
    'Finishing Specs', 'Club Price'
]

# Clean data
df_clean = df.dropna(subset=['Unit Total Price', 'Category']).copy()

# Convert numeric columns
df_clean['Unit Total Price'] = pd.to_numeric(df_clean['Unit Total Price'], errors='coerce')
df_clean['Grand Total'] = pd.to_numeric(df_clean['Grand Total'], errors='coerce')

# Convert date column - using the more robust method
df_clean['Planned Delivery Date'] = pd.to_datetime(
    df_clean['Planned Delivery Date'].astype(str).str.split().str[0],
    errors='coerce'
)

# Drop rows where date conversion failed
df_clean = df_clean.dropna(subset=['Planned Delivery Date'])

# Verify cleaned data
print("Cleaned data shape:", df_clean.shape)
print("\nData types:")
print(df_clean.dtypes)
print("\nSample data:")
df_clean.head()

Mounted at /content/drive
Cleaned data shape: (1686, 25)

Data types:
Project                            object
Stage                              object
Category                           object
Unit Type                          object
Unit Code                          object
Grand Total                       float64
Total Finishing Price              object
Unit Total Price                  float64
Planned Delivery Date      datetime64[ns]
Actual Delivery Date               object
Completion Progress                object
Land Area                          object
Built Area                         object
Basement Area                      object
Uncovered Basement Area            object
Penthouse Area                     object
Semi Covered Roof                  object
Roof Area                          object
Garden Area                        object
Garage Area                        object
Pergola Area                       object
Storage Area                       object
Extra BuiltUp Area                 object
Finishing Specs                    object
Club Price                         object
dtype: object

Sample data:

<ipython-input-3-36cddc66919a>:31: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_clean['Planned Delivery Date'] = pd.to_datetime(

,Project,Stage,Category,Unit Type,Unit Code,Grand Total,Total Finishing Price,Unit Total Price,Planned Delivery Date,Actual Delivery Date,...,Penthouse Area,Semi Covered Roof,Roof Area,Garden Area,Garage Area,Pergola Area,Storage Area,Extra BuiltUp Area,Finishing Specs,Club Price
1,Badya,Badya-District 2,Badya-Trio D-3 Bed-Garden,Apartment,D2A8-02-0101,12511000.0,3296412,15807412.0,2030-06-30,NaN,...,0,0,0,60.24,0,0,0,0,FFAI-BD-D2A8,320000
2,Badya,Badya-District 2,Badya-Trio D-3 Bed-Garden,Apartment,D2A8-02-0102,11954000.0,3030672,14984672.0,2030-06-30,NaN,...,0,0,0,70.61,0,0,0,0,FFAI-BD-D2A8,320000
3,Badya,Badya-District 2,Badya-Trio D-2 Bed-Typical,Apartment,D2A8-02-0112,9230000.0,2619084,11849084.0,2030-06-30,NaN,...,0,0,0,0,0,0,0,0,FFAI-BD-D2A8,320000
4,Badya,Badya-District 2,Badya-Trio D-2 Bed-Typical,Apartment,D2A8-02-0122,9230000.0,2619084,11849084.0,2030-06-30,NaN,...,0,0,0,0,0,0,0,0,FFAI-BD-D2A8,320000
5,Badya,Badya-District 2,Badya-Trio D-3 Bed-Typical,Apartment,D2A8-02-0131,10750000.0,3132230,13882230.0,2030-06-30,NaN,...,0,0,0,0,0,0,0,0,FFAI-BD-D2A8,320000

In [8]:
import pandas as pd
import numpy as np

# Load and prepare data
df = pd.read_excel('/content/drive/MyDrive/real_estate.xlsx', header=None)
header_row = df[df[0] == 'Project'].index[0]
df.columns = df.iloc[header_row]
df = df.iloc[header_row+1:].reset_index(drop=True)

# Clean and convert price data
price_col = 'Unit Total with Finishing Price'
df[price_col] = pd.to_numeric(df[price_col], errors='coerce')

# Convert from cents to dollars if needed
if df[price_col].median() > 1000000:
    df[price_col] = df[price_col] / 100

# Calculate variance - filtering out zeros and single-property categories
variance_results = (
    df.groupby('Category')[price_col]
    .agg(['count', 'var'])
    .reset_index()
    .rename(columns={'count': 'Property_Count', 'var': 'Variance'})
    .query('Variance > 0 and Property_Count > 1')  # This removes all zero-variance cases
    .sort_values('Variance', ascending=False)
)

# Format variance for readability
def format_variance(x):
    if x >= 1e12: return f"{x/1e12:.2f}T"
    if x >= 1e9: return f"{x/1e9:.2f}B"
    if x >= 1e6: return f"{x/1e6:.2f}M"
    return f"{x:,.0f}"

variance_results['Variance_Formatted'] = variance_results['Variance'].apply(format_variance)

# Display results
print("=== Properties With Price Variance ===")
print(variance_results[['Category', 'Property_Count', 'Variance_Formatted']].to_string(index=False))

# Export results
output_path = '/content/drive/MyDrive/property_variance_clean.xlsx'
variance_results.to_excel(output_path, index=False)
print(f"\nResults saved to: {output_path}")

=== Properties With Price Variance ===
                                    Category  Property_Count Variance_Formatted
                                 Garden View               2            106.17B
                Palmet NC-Third Floor-Office               9              1.92B
               Palmet NC-Fourth Floor-Office              10              1.85B
                    Alex-Ground Apartment-3B              12              1.12B
                    Alex-Ground Apartment-2B              28            828.61M
                Palmet NC-First Floor-Office               4            785.16M
                   Alex-Typical Apartment-2B              21            686.20M
                   Alex-Typical Apartment-3B              31            655.85M
                      PX-Town House X Middle              13            330.17M
                         Badya-Villa Type W2              11            297.04M
                       PX-Skye2-Penthouse-3B               4            286.29M
                     PX-Town House X2 Middle              22            286.21M
                      PX-Dawn-Penthouse-2B+N               6            276.59M
                          PX-Skye2-Garden-3B              25            242.83M
                         PX-Dusk2-Typical-3B              16            201.97M
               PNC-Apartment-With Garden  2B               6            200.98M
                          WST-Seascape Lodge               2            196.02M
                            PNC-VILLA TYPE C               6            188.85M
                       HWS-Villa A First Row               3            165.11M
                          PX-Dawn-Typical-2B              14            156.44M
                    PNC-Typical Apartment 2B             138            141.47M
                PNC-Typical Apartment 3B+N+L              12            119.22M
                           PX-Dawn-Garden-2B              19            112.14M
                          PX-Dawn-Typical-3B              14            112.11M
                         PX-Skye2-Typical-2B              31            109.10M
                         Badya-Villa Type X2              20             90.21M
                        PX-Dawn-Penthouse-2B               7             87.09M
                  PNC-Typical Apartment 3B+N              21             62.15M
                       PX-Skye2-Typical-3B+N              23             51.39M
                          PX-Skye1-Garden-3B               3             49.69M
                         PX-Skye2-Typical-1B              15             42.09M
                         PX-Dusk1-Typical-3B               3             35.71M
              Bamboo III - Town House Middle              28             31.11M
     Bamboo III - Family Home With Penthouse              45             25.08M
                    WST-Senior Chalet Ground               2             25.00M
                  ALX-Palm Town House-MIDDLE              22             19.63M
        Bamboo III - Family Home With Garden               7             19.13M
             Badya-The Corner C-2 Bed-Garden               6             18.96M
                         Badya-Villa Type S2              11             18.84M
                   Badya-Trio D-3 Bed-Garden              11             17.79M
            Badya-The Corner C-2 Bed-Typical              29             17.43M
          Badya-The Corner C-2 Bed-Penthouse               7             16.84M
                  ALX-Palm Town House-CORNER               3             14.95M
                    Alex-Ground Apartment-1B               2             14.15M
                   Badya-Quad A-3 Bed-Garden               4             12.47M
                      Badya-YG9-2 Bed-Garden               2             11.78M
       HWS-Water Building 4D-Fourth Floor-2B              17             11.39M
                 HWS-Cabins-Lagoon View-2B-M              15             11.25M
        HWS-Water Building 4D-Third Floor-2B              15              9.64M
                       HBLU-Water TH1-Middle               5              8.81M
                       HBLU-Water TH1-Corner               3              8.70M
       HWS-Water Building 4D-Second Floor-2B              14              8.64M
                 Badya-Duo C-M-2 Bed-Typical               4              8.01M
              Bamboo III - Town House Corner              11              7.27M
                         Badya-Villa Type N2              29              7.06M
                       HBLU-Water TH2-Middle              12              6.62M
                       HBLU-Water TH2-Corner               4              6.40M
             HBLU-Water Senior Chalet-Ground              14              6.18M
  HWS-Water Building 2D-Fifth Floor-3B+Nanny               2              6.12M
                Badya-Quad A-2 Bed-Penthouse               7              5.94M
                   Badya-Quad A-2 Bed-Garden               5              5.19M
              HBLU-Water Senior Chalet-First              21              5.09M
                  Badya-Trio D-3 Bed-Typical              22              5.09M
                  ALX-Villa Type 1-Penthouse               5              4.82M
                         Badya-Villa Type Z2              38              4.76M
        HWS-Water Building 4D-Fifth Floor-3B               7              4.67M
              Badya-TownHouse Small 4 Corner              27              4.22M
                   Badya-Duo C1-2 Bed-Garden               4              4.01M
                Badya-Trio D-2 Bed-Penthouse               6              3.91M
             HBLU-Water Junior Chalet-Ground              12              3.67M
                 Badya-Duo C-M-3 Bed-Typical               5              3.63M
                Badya-Trio D-3 Bed-Penthouse               8              3.57M
                  Badya-Trio D-2 Bed-Typical              28              3.50M
                   HWS-Cabins-Lagoon View-2B               7              3.50M
                     WST-Senior Chalet First               2              3.39M
              HBLU-Water Junior Chalet-First              35              3.23M
                  Badya-Quad A-1 Bed-Typical               9              3.22M
HWS-Water Building 2D-Fifth Floor-3B+Nanny-M               4              3.06M
                       PNC-TOWN HOUSE MIDDLE              15              2.82M
                  Badya-Duo C1-2 Bed-Typical               5              2.68M
                 HWS-Cabins-Lagoon View-1B-M              15              2.41M
                       PNC-TOWN HOUSE CORNER               7              2.37M
                     Badya-TownHouse Small 4              15              2.33M
                  Badya-Duo C1-3 Bed-Typical               5              2.25M
                  Badya-Quad A-2 Bed-Typical              20              2.13M
            Badya-The Corner C-3 Bed-Typical              22              1.99M
        HWS-Water Building 2D-Third Floor-3B               4              1.72M
       HWS-Water Building 3D-Fourth Floor-2B              14              1.42M
                   HWS-Cabins-Lagoon View-1B              12              1.32M
                    PNC-Typical Apartment 1B               7              1.28M
       HWS-Water Building 3D-Second Floor-2B              14              1.28M
        HWS-Water Building 3D-Fifth Floor-2B              14              1.25M
        HWS-Water Building 3D-Third Floor-2B              15              1.22M
                      Badya-YG6-2 Bed-Garden               3              1.08M
                       PX-Skye1-Typical-3B+N               2            994,050
                     Badya-YG9-2 Bed-Typical               2            992,063
             Badya-The Corner C-3 Bed-Garden               3            934,900
                     Badya-YG8-2 Bed-Typical               7            902,099
       HWS-Water Building 3D-Fourth Floor-1B              15            837,274
         Badya-The Boulevard C-4 Bed-Typical               5            806,880
        HWS-Water Building 3D-Fifth Floor-1B               9            801,286
                     Badya-YG7-2 Bed-Typical               5            697,025
       HWS-Water Building 3D-Second Floor-1B              13            694,231
        HWS-Water Building 3D-First Floor-1B              16            650,000
                   Badya-YG8-2 Bed-Penthouse               2            618,811
                    PNC-Typical Apartment 3B               9            577,678
                     Badya-YG6-2 Bed-Typical              14            535,435
                   Badya-YG6-2 Bed-Penthouse               5            517,117
        HWS-Water Building 3D-Third Floor-1B              14            476,044
      PPC-TYPICAL APARTMENT 3B 170M - Type F               5            443,570
                                  PX-Villa 3              10            412,090
       HWS-Water Building 2D-Fourth Floor-3B               7            408,595
      Alex-Typical Apartment-3B + Nanny Room              20            352,245
                    WST-Building A-2B-Fourth               5            299,024
                     Badya-YG5-2 Bed-Typical               5            238,545
       HWS-Water Building 2D-Fourth Floor-2B               6            201,667
       HWS-Water Building 3D-Ground Floor-1B               6            183,750
        HWS-Water Building 3-Fourth Floor-1B               3            140,833
                      Badya-YG5-2 Bed-Garden               2            140,450
                   Badya-YG9-2 Bed-Penthouse               4            119,498
        HWS-Water Building 3-Second Floor-1B               4             99,225
      PPC-TYPICAL APARTMENT 3B 170M - Type G               5              2,470

Results saved to: /content/drive/MyDrive/property_variance_clean.xlsx